$primary       : var(--primaryColor);
$secondary     : var(--secondaryColor);
$tertiary      : #1DE6FF;
$danger        : #af2219;
$lightHoverRed : rgba(233, 87, 61, 0.1);
$lightRed      : #c21b1754;
$paleRed       : #d16944;
$black         : #20252b;
$white         : #ffffff;
$lightWhite    : #ffffff4f;
$grey          : #cecece;
$greyTwo       : #a0a0a0;
$lightGrey     : #f6f6f6;
$mediumGrey    : #d8d8d8;
$darkGrey      : #6f7072;
$blue          : #2196F3;
$green         : #7ED321;
$greenTwo      : #79E893;
$greenThree    : #68B65B;
$greenDark     : #42804f;
$yellow        : #d9a036;
$font          : 'Roboto', sans-serif;
$borderRadius  : 4px;
$borderRadius8 : 8px;
