@import "../variables";

.guestSidebar
{
   min-height: 100vh;
   padding: 0;
   position: relative;
   z-index: 2;
   display: block;
   align-content: center;
   width: 100%;
}

.guestHead
{
   display: flex;
   align-items: center;
   padding-left: 100px;

   .guestTitle
   {
      position: relative;
      z-index: 99999;
   }
}


#kt_body
{
   &:after
   {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background: linear-gradient(to left, rgba(21, 21, 28, 0) 0, rgba(21, 21, 28, .1) 40%, rgba(21, 21, 28, .3) 55%, rgba(21, 21, 28, .61) 75%, #15151c);
   }
}

@media (max-width: 991px)
{
   @media (min-height: 1000px)
   {
      .guestSidebar
      {
         min-height: 100vh !important;
      }

      #kt_body
      {
         &:after
         {
            background: linear-gradient(to left, rgba(21, 21, 28, 0) 0, rgba(21, 21, 28, .1) 40%, rgba(21, 21, 28, .3) 55%, rgba(21, 21, 28, .61) 75%, #15151c) !important;
         }
      }
   }

   .guestSidebar
   {
      min-height: auto;
   }

   .guestHead
   {
      padding-left: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
   }

   #kt_body
   {
      &:after
      {
         background: linear-gradient(to top, rgba(21, 21, 28, 0) 0, rgba(21, 21, 28, .1) 40%, rgba(21, 21, 28, .3) 55%, rgba(21, 21, 28, .61) 75%, #15151c);
      }
   }
}